:root {
  --violet-00:#f2eff8;
  --violet-0:#ccc7db;
  --violet-1:#7668a6;
  --violet-2:#484065;
  --violet-3:#3b3551;
  --violet-4:#342e46;
  --gray-1:#eeeff3;
  --gray-2:#ecedf1;
  --btn-violet:#7667a8;
  --btn-red:#de2850;
  --btn-rose:#f1b8be;
  --line-gray:1px solid #cccccc;
  --bg-largest:75em;
  --bg-large:56.25em;
  --bg-medium:43.75em;
  --bg-small:25.88em; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media screen and (min-width: 75em) {
    html {
      font-size: 75%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

/*
  @include respond(phone){//1rem = 6px, 10px/16px = 62.5%
    font-size: 37.5%;
  }
  
  @include respond(tab-land){//1rem = 9px, 10px/16px = 62.5%
    font-size: 62.5%;
  }
  
  @include respond(tab-port){//1rem = 8px, 10px/16px = 62.5%
    font-size: 56.25%;
  }
  
  @include respond(big-screen){//1rem = 12px, 10px/16px = 62.5%
    font-size: 75%;
  }
  */
body {
  background-color: var(--gray-1);
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

@font-face {
  font-family: 'Peace Sans';
  src: url("../assets/fonts/Peace Sans.otf"), url("../assets/fonts/Peace Sans Webfont.ttf"); }

.head {
  display: flex;
  background-color: var(--violet-2);
  width: 100%;
  height: 50rem; }
  .head__left {
    flex-basis: 50%;
    align-self: stretch;
    background-image: linear-gradient(to bottom, #ffe734 20%, rgba(255, 198, 52, 0.6) 80%), url(../assets/images/keyboard.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom; }
    .head__left--text {
      font-size: 8.5rem;
      font-family: 'Peace Sans';
      text-transform: uppercase;
      color: white;
      padding: 5rem;
      margin-top: 3rem;
      text-align: center; }
  .head__right {
    flex-basis: 50%;
    align-self: stretch;
    display: flex;
    flex-direction: column; }
    .head__right--text {
      text-transform: uppercase;
      letter-spacing: .1rem;
      font-size: 4rem;
      font-family: 'Peace Sans';
      color: white;
      padding: 4rem;
      margin-top: 7rem;
      text-align: center; }
  .head__btn {
    flex-basis: 1;
    align-self: center; }

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: rgba(238, 130, 238, 0.3); }
  .nav__items {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    letter-spacing: .3rem; }
  .nav__item {
    color: white;
    padding-right: 3rem; }
    .nav__item--link {
      font-size: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      cursor: pointer; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  padding: .8rem 3rem;
  display: inline-block;
  border-radius: 50rem;
  transition: all 0.15s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0; }

.btn--white {
  background-color: white;
  color: gray; }
  .btn--white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 1s ease-in-out 0.8s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  color: white;
  background-color: gray;
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.2s;
  border-radius: 0.5rem; }

.btn-text:hover {
  background-color: gray;
  color: white;
  box-shadow: 0 1rem 2rem rgba(128, 128, 128, 0.6);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(128, 128, 128, 0.6);
  transform: translateY(0); }

.logo {
  margin: 1rem; }
